$duration-short4: 0.2s; //emphasized-accelerate, standard-accelerate
$duration-medium1: 0.25s; //standard-decelerate
$duration-medium2: 0.3s; //standard
$duration-medium4: 0.4s; //emphasized-decelerate
$duration-long2: 0.5s; //emphasized

$easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
$easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
$easing-standard: cubic-bezier(0.2, 0, 0, 1);
$easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
$easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
